<h1>flipstream</h1>
<button (click)="getDocs()">HIT ME</button>
<form class="example-form" (keydown.enter)="$event.preventDefault()">
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" (keyup.enter)="getDataFromFeed(feedUrl.value);" #feedUrl />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
</form>
<h2>Feeds Übersicht</h2>
<ul>
  <div *ngFor="let feed of arrayWithFeeds; let i = index">
    <h3>{{feed.rss.channel.title | json}}</h3>
    <ul>
      <li *ngFor="let item of feed.rss.channel.item; let i = index">
        <a href="{{ item.link }}">{{ item.title | json }}</a>  
      </li>
    </ul>
    
  </div>
</ul>


<!-- {{ arrayWithFeeds }} -->